---
import "../../styles/main.css";
const { bannerImage } = Astro.props;
---

<header
    class="banner"
    style={`background-image: url('${bannerImage ?? "/link-backs/gelseylandbanner.jpg"}')`}
>
    <a href="/"><span>Gelsey Land</span></a>
</header>
<div class="header-break"></div>

