                        #nancydrew-webring-widget {
                            border: 2px solid #10353c;
                            text-align: center;
                            height: 10%;
                            width: 30%;
                        }


                        #nancydrew-webring-title a:link {
                            color: #00373D
                        }


                        #nancydrew-webring-controls a:link {
                            color: #b543a5
                        }