---
import Layout from "@layouts/Layout.astro";

import Glupdates from "@components/Glupdates.astro";

const title = "Gelsey Land";
const subtitle = "welcome to park services";
const bannerImage = "/bg/sayworldbg.webp";
const tinyImage = "/smalls/sm-balloons.gif";
---

<head>
	<meta
		http-equiv="Content-Security-Policy"
		content="connect-src 'self' data: blob: https://status.cafe;"
	/>
</head>

<Layout
	title={title}
	subtitle={subtitle}
	bannerImage={bannerImage}
	tinyImage={tinyImage}
>
	<div slot="after-navl"></div>
	<div slot="main-text">
		<div class="flexbox">
			<p>
				thank you for visiting the internets first themepark ran by a little
				clown man! enjoy the rides, download our pixels (ethically sourced of
				course), and fly to places inside my imagination. Here you'll find more
				media recommendations than you can possibly spend your dwindling free
				time with. See the park owners latest creations, read about incredible
				discoveries and take the shuttle to your next web surfing location. So
				buckle up, hold on to your cotton candy, and prepare for a whimsical
				journey through the colorful world of Gelsey Land! &#127913;
			</p>
			<div><img src="/images/littleman.webp" /></div>
		</div>
		<div class="divider-balloon"></div>
		<h3>June 2026 to do</h3>
		<ul>
			<li>lots and lots of back end clean up for new astro updates</li>
			<li>fix the blog to be able to load posts and make half this site functionable again</li>
			<li>set up our email news letter!</li>
		</ul>
	</div>
	<div slot="after-navr"></div>

	<div slot="full">
		<h1>mission statement</h1>
		<p>
			This site is more than just a cutesy theme for a personal site ... okay
			tbf that is a large part of it but that's not the only reason. Everyday I
			experience like 2 million various stimuli: the song on my alarm, the first
			article I read on my feed, the video I play in the background as I grind
			on my mobage while simultaneously working on a deadline. I live and walk
			through noise and clutter. My theme park is where I make sense of
			everything. I freeze the moments and take in the little details. Its funny
			to think of a big crazy loud theme park as a place for quiet
			contemplation, but ig that's just clownlife man. My brain is loud and
			exciting. I dont want to clear my head i just want to be able to sit in
			the passengers seat and experience my own thoughts as a guest. I hope you
			enjoy the ride. &#127906;
		</p>
		<img src="/div/bluepinkdiv.png" />
	</div>

	<div slot="left-half">
		<section class="half">
			<Glupdates />
		</section>
	</div>
	<div slot="right-half">
		<section class="half">
			<h2>coming soon!</h2>
			<p>a section beyond your wildest imagination!!</p>
			<img src="/images/underconstructionnya.webp" />
		</section>
	</div>
</Layout>
