---
import "@fontsource/fontdiner-swanky";
import Layout from "@layouts/LandingLayout.astro";
import TicketEntry from "@components/TicketEntry.astro";

import "../styles/landing.css";
const title = "the park is open";
const subtitle = "welcome websurfer";
const bannerImage = "/link-backs/gelseylandbanner.jpg";
---

<Layout title={title} subtitle={subtitle} bannerImage={bannerImage}
    ><div slot="full">
        <p>
            Here is a land where magic delights and smiles grow. All are welcome
            to share in fun times and happy spaces. With familiar toys, cozy
            games, and even a spooky sight or two - there's something for
            everyone. Please show your <mark>ticket</mark> to the booth and have a
            magical time!
        </p>
    </div>
    <div slot="left-half">
        <img src="/public/images/underconstructionnya.webp" />
        <h3>Webrings</h3>

        <div id="nancydrew-webring-widget">
            <div id="nancydrew-webring-title">
                <a href="webrings/nancydrew_webring_list.html"
                    >Nancy Drew Webring</a
                >
            </div>
            <div id="nancydrew-webring-controls">
                <a
                    href="https://foxislands.neocities.org/Webrings/redirect?mode=prev&site=Gelsey_Land"
                    >Previous</a
                >
                <a
                    href="https://foxislands.neocities.org/Webrings/redirect?mode=rand&site=Gelsey_Land"
                    >Random</a
                >

                <a
                    href="https://foxislands.neocities.org/Webrings/redirect?mode=next&site=Gelsey_Land"
                    >Next</a
                >
            </div>
        </div>
    </div>

    <div slot="right-half">
        <TicketEntry />
    </div>
</Layout>

