---
import Layout from "@layouts/LandingLayout.astro";
import TicketEntry from "@components/TicketEntry.astro";

import "../styles/landing.css";
const title = "the park is open";
const subtitle = "welcome websurfer";
const bannerImage = "/link-backs/gelseylandbanner.jpg";
---

<Layout title={title} subtitle={subtitle} bannerImage={bannerImage}
    ><div slot="full">
        <p>
            This is my designated online space to share my work, my discoveries
            and all my favorites with familiar faces and online neighbors. All
            are welcome to enjoy exploring the themepark filled with life hacks,
            cozy games, and even a spooky sight or two - there's something for
            everyone. Please show your <mark>ticket</mark> to the booth and have a
            magical time!
        </p>
    </div>
    <div slot="left-half">
        <h2>Please note our site is mobile "useable" not friendly. This site is best viewed on desktop until webmaster learns how a flexbox works properly.</h2>
        <img src="/images/underconstructionnya.webp" />
    </div>

    <div slot="right-half">
        <TicketEntry />
    </div>
</Layout>
