---
import StatusCafe from "../components/StatusCafe.astro";
import RandomBlinkies from "../components/RandomBlinkies.astro";
---
<head>
	<meta
		http-equiv="Content-Security-Policy"
		content="connect-src 'self' data: blob: https://status.cafe;"
	/>
</head>

	<StatusCafe />
	<nav>
		<div>staff only/me</div>
		<a href="../../about.html">about<img src="/smalls/new16.gif" /></a>
		<a href="../../linksout.html">links out</a>
		<a href="../../toybox.html">toybox</a>
		<a href="../../credits.html">credits</a>
		<a href="https://gelseyland.atabook.org/">messages</a>
	</nav>

	<RandomBlinkies />

