<a href="/home.html">
    <img
        src="../images/admitfull.png"
        height="200"
        ;
        onmouseover="this.src='../images/admitrip.png';"
        onmouseout="this.src='../images/admitfull.png';"
    />
</a>
<div class="cta"><p>Click your ticket to enter!</p></div>

<style>
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        text-align: center;
        font-family: "Fontdiner Swanky", serif;
        -webkit-text-fill-color: #ffecb6;
        text-shadow:
            1px 1px var(--text),
            -1px 1px var(--text),
            1px -1px var(--accent),
            -1px -1px var(--accent);
    }

    p {
        margin: 2px;
        line-height: 1.2;
        color: #4e3d42;
    }
</style>
