---
import Header from "@layouts/partials/Header.astro";
import Navr from "../components/Navr.astro";
import Navl from "../components/Navl.astro";

import "../styles/main.css";
import "../styles/blog.css";
import "@fontsource/fontdiner-swanky";

const { title, subtitle, bannerImage } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
    </head>

    <body>
        <div class="container">
            <header
                class="banner"
                style={`background-image: url(${bannerImage ?? "/link-backs/gelseylandbanner.jpg"});`}
            >
                <a href="/home"><span>Gelsey Land</span></a>
            </header>
            <section class="small">
                <Navl />
                <slot name="after-navl" />
            </section>
            <section class="large">
                <div class="title">
                    <h1>
                        <img src="/smalls/sm-diary.gif" />
                        {title}
                        <img src="/smalls/sm-diary.gif" />
                    </h1>
                    <h2>{subtitle}</h2>
                </div>
                <slot name="main-text" />
            </section>

            <section class="small">
                <slot name="before-navr" />
                <Navr />
                <slot name="after-navr" />
            </section>
            <section class="full">
                <slot name="full" />
                <!-- this is where the meat of the content lives -->
            </section>
            <!--I WANT TO PUT A COMMENT BOX HERE EVENTUALLY -->
            <div class="bottom"></div>

            <script src="/scripts/clicksplosion.js" defer></script>
        </div>
    </body>
</html>
